nav{
    
    background: pink;
   font: size 30px; ;
}
.navbarNavAltMarkup{
    font-size: 30px;
    background: pink;
    color: white;
}

a {
    font-size: 20px;
color: white;
}
footer {
    background-color: #FFC0CB;
    color: black;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 15px;
  }